<template>
    <header >
        <!-- МЕНЮ -->
        <nav class="main-nav">
            <ul>
                <li class="main-nav__item">
                    <router-link to="/" aria-label="Ссылка на главную страницу">Главная</router-link>
                </li>
                <li class="main-nav__item">
                    <router-link to="/books" aria-label="Ссылка на страницу с книгами">Книги</router-link>
                </li>
                <li class="main-nav__item">
                    <router-link to="/" aria-label="Ссылка на страницу с авторами">Авторы</router-link>
                </li>
                <li class="main-nav__item">
                    <router-link to="/" aria-label="Ссылка на страницу с Издательствами">Издательства</router-link>
                </li>
            </ul>
        </nav>
    </header>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>
    /* ЦВЕТА
   ___________________________
   #1d2631 темно-синний для текста
   #8e9fbb темно-голубой для наведения
   #eaf0fa светло-голубой для фона
   */

    @media screen and (min-width: 768px){
        .main-nav ul{
            max-width: 1000px;
        }
        .page-header{
            margin-bottom: 80px;
        }
    }



    .main-nav ul{
        padding:0;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        min-width: 500px;
    }

    .main-nav__item{
        margin: 30px 10px;
    }

    .main-nav{
        /* outline: 2px solid red; */
        text-decoration: none;
        color: #1d2631;
        text-transform: uppercase;
        line-height: 25px;
    }

    .main-nav__item:hover{
        color: #8e9fbb;
    }

    .main-nav__item--active,
    .main-nav__item--active:hover{
        color: red;
        cursor: default;
    }
</style>