<template>
    <div class="book-grid-item">
        <img class="book__img" :src='book.image_url'>
        <router-link :to="{name: 'BookDetail', params: {id:bookId}}"><p class="book__name">{{book.name}}</p></router-link>
        <p class="book__author">{{book.author_name}}</p>
        <p class="book__publishing" aria-placeholder="ArsisBooks">{{book.publisher_name}}</p>
        <p class="book__isbn" aria-placeholder="ArsisBooks">{{book.isbn}}</p>
    </div>
</template>

<script>
    export default {
        name: "BookGridItem",
        props: ["bookId"],
        methods: {
            getBook(id){
                return this.$store.getters.getBook(id);
            }
        },
        data: function () {
            return {
                book: this.getBook(this.bookId)
            }
        }
    }
</script>


<style scoped>
    .book-grid-item{
        width: 200px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .book__img{
        height: 200px;
        margin-bottom: 10px;;
        align-self: center;
    }

    .book__name{
        margin: 0;
        padding: 0;
    }

    .book__author{
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: gray;
    }
</style>