<template>
    <div class="books-grid">
        <BookGridItem v-for="bookId in bookIds" :key="bookId" :bookId="bookId"></BookGridItem>
    </div>
</template>

<script>
    import BookGridItem from "./BookGridItem";

    export default {
        name: "BookGridList",
        components:{
            BookGridItem
        },
        methods:{
            fetchBooks(){
                this.$store.dispatch('fetchBooks');
            }
        },
        computed: {
           bookIds(){
               return this.$store.getters.books.bookList;
           }
        },
        created() {
            this.fetchBooks();
        }
    }
</script>

<style scoped>
    .books-grid{
        margin: 0 auto;
        background-color: #eaf0fa;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-evenly;
        padding: 20px 30px;
        outline: 1px solid black;
    }

    .book-grid-item{
        margin-left: 30px;
    }
</style>